@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.fundinho{
    font-size: 100%;
    background: linear-gradient(68.15deg, #4c92ad 16.62%, #9cc5c7 85.61%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.logo{
    height: 90px;
    margin-top: 50px;
}
.jogo-da-memoria{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}
.imagens,
.fundoCarta{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}
.card.flip{
    transform: rotateY(180deg);
}
.imagens{
    transform: rotateY(180deg);
}
#jogo-e-contadores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#contadores{
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(68.15deg, #469fc2 16.62%, #7ebbbe 85.61%);
    border: 2px solid rgb(15, 40, 71);
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 22%;
    gap: 20px;
}       
#rightSide{
    width: 20%;
    font-family: 'Press Start 2P', system-ui;
    font-size: 15px;
}
.temporizador{
    font-family: 'Press Start 2P', system-ui;
}
.tempo{
    margin-bottom: 20px;
}
#reset-button{
    font-family: 'Press Start 2P', system-ui;
    border: 0 solid;
    height: 50px;
    padding-inline: 10px;
    border-radius: 20px;
    background: linear-gradient(68.15deg, #ffc400 16.62%, #f03607 85.61%);
    outline: 3px solid;
    outline-color: rgb(247, 0, 0);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1150ms cubic-bezier(0.19, 1, 0.22, 1);
}
#reset-button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}
.botao-de-exclusao{
    height: 25px;
    width: 25px;
    border: none;
    background: linear-gradient(68.15deg, #4c92ad 16.62%, #9cc5c7 85.61%);
    background-image: url(../img/70287.png);
    background-size: cover;
    
}
.botao-de-exclusao:hover{
    cursor: pointer;
}
.scoreboard{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
#confetti-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}
.confetti {
    width: 10px;
    height: 20px;
    border-radius: 2px;
    position: absolute;
    top: -10vh;
    animation: quedaConfetti;
}
@keyframes quedaConfetti {
    0% {
        top: -10vh;
    }
    100%{
        top: 110vh;
    }
}